body{
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    width: 528px;
}

.row{
    display: flex;
    height: 33px;
    background-color: red;
    opacity: 40%;
    flex-grow: 1;
    justify-content: space-around;

}


.box{
    height: 25px;
    flex: auto;
    background-color: green;
    border-style: solid;
    border-color: black;
    margin: 2.5px;
}