#container{
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    height: 58px;
    background-color: red;
    opacity: 40%;
    flex-grow: 1;
    justify-content: space-around;

}


.box{
    height: 45px;
    flex: auto;
    background-color: green;
    border-style: solid;
    border-color: black;
    margin: 5px;
}