body{
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
}

.row{
    display: flex;
    background-color: red;
    opacity: 40%;
    flex-grow: 1;
    justify-content: space-around;

}

.box{

    flex: auto;
    background-color: green;
    border-style: solid;
    border-color: black;
}

.activated{
    background-color: black;
    border-style: solid;
    border-color: white;
    transition: 1s;
}